<% if signed_in? %>
  <div class="row">
    <aside class="col-xs-4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <% if current_user.admin? %>
        <section>
          <div class="panel panel-default">
              <h5 class="panel title">Administration</h5>
            <div class="panel body">
                <%= link_to "Entities", entities_path, class: "btn btn-small btn-default btn-full-width"%>
                <br/>
                <%= link_to "Properties", properties_path, class: "btn btn-small btn-default btn-full-width" %>
            </div>
          </div>
        </section>
      <% end %>
    </aside>
      <section>
      </section>
    <div class="col-xs-8">
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <h1>Welcome to GZ Spex</h1>

  <h2>
    This is the home page for the
    <a href="http://www.goalzero.com">Goal Zero</a>
    Tech Spec Application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("avatar.png", alt: "Alex Stout", id: "img_avatar"), 'http://alexstout.weebly.com/' %>
<% end %>