<% unless defined? columns %>
    <% columns = [] %>
<% end %>

<table class="table table-condensed entities">
    <% if columns.include? 'name' %>
        <th>
            <!-- model = 'entity', column = 'name', title = nil -->
            <%= sortable("entity", "name") %>
        </th>
    <% end %>
    <% if columns.include? 'label' %>
        <th>
            <%= sortable('entity', "label") %>
        </th>
    <% end %>
    <% if columns.include? 'created' %>
        <th>
            <%= sortable('entity', "created_at", "Created") %>
        </th>
    <% end %>
    <% if columns.include? 'updated' %>
        <th>
            <%= sortable('entity', "updated_at", "Updated") %>
        </th>
    <% end %>
    <% if columns.include? 'remove' && admin_user? %>
        <th>
            Remove
        </th>
    <% end %>
  <%= render partial: 'entities/entity', collection: @entities, locals: { columns: columns }  %>
</table>
<%= will_paginate @entities, inner_window: 0, outer_window: 0, param_name: 'entities_page', params: { event: 'entity' } %>