<tr id=<%= "#{entity.id}" %> class="list-item entity">
    <td>
      <%= link_to entity.name, entity %>
    </td>
    <td>
      <%= link_to entity.label || "", entity %>
    </td>
    <% if !defined? created && created == true %>
      <td>
        <%= "#{entity.created_at.strftime('%m/%d/%Y')}" %>
      </td>
    <% end %>
    <td>
      <%= "#{entity.updated_at.strftime('%m/%d/%Y %H:%M')}" %>
    </td>
      <% if current_user.admin? %>
        <td>
          <%= link_to "", entity, method: :delete, 
                 data: { confirm: "You sure?" },
                 title: entity.name, 
                  class: "glyphicon glyphicon-trash xs",
                  style: "margin-left: 5px; color: #FF4F4D" %>
        </td>
      <% end %>
</tr>
<p></p>