<table class="table table-condensed entities">
    <th>
        <%= entity_sortable "name" %>
    </th>
    <th>
        <%= entity_sortable "label" %>
    </th>
    <% if show_created %>
        <th>
            <%= entity_sortable "created_at", "Created" %>
        </th>
    <% end %>
    <th>
        <%= entity_sortable "updated_at", "Updated" %>
    </th>
    <% if show_remove && admin_user? %>
        <th>
            Remove
        </th>
    <% end %>
  <%= render partial: 'entities/entity', collection: @entities, locals: { show_created: show_created, show_remove: show_remove }  %>
</table>
<%= will_paginate @entities, inner_window: 0, outer_window: 0, param_name: 'entities_page', params: { event: 'entity' } %>