<% unless entity.properties.blank? && !admin_user? %>
  <tr id='<%= "#{entity.id}" %>' class="list-item entity" data-model="entity" data-id='<%= "#{entity.id}" %>'>
      <% if columns.include? 'name' %>
        <td>
          <%= link_to entity.name, entity %>
        </td>
      <% end %>
      <% if columns.include? 'label' %>
        <td>
          <%= link_to entity.label || "", entity %>
        </td>
      <% end %>
      <% if columns.include? 'created' %>
        <td>
          <%= "#{entity.created_at.strftime('%m/%d/%Y')}" %>
        </td>
      <% end %>
      <% if columns.include? 'updated' %>
        <td>
          <%= "#{entity.updated_at.strftime('%m/%d/%Y %H:%M')}" %>
        </td>
      <% end %>
      <% if columns.include? 'remove' && admin_user? %>
        <td class="delete-entity">
          <span id="<%= entity.id %>"  class="glyphicon glyphicon-trash entity delete alert-danger">
          </span>
        </td>
      <% end %>
  </tr>
<% end %>
