<tr id=<%= "#{property_relationship.id}" %> class="list-item epr" data-order=<%= property_relationship.order+1 %> >
    <td>
      <%= link_to property_relationship.property.name, property_relationship %>
    </td>
    <% if show_units %>
      <td>
        <%= property_relationship.property.units %>
      </td>
    <% end %>
    <td>
      <%= link_to property_relationship.property.units_short || "", property_relationship %>
    </td>
    <% if show_created %>
      <td>
        <%= "#{property_relationship.created_at.strftime('%m/%d/%Y')}" %>
      </td>
    <% end %>
    <td>
        <%= link_to property_relationship.value || "", "#edit-#{property_relationship.id}" %>
    </td>
    <td>
      <%= property_relationship.order+1 %>
    </td>
    <% if current_user.admin? && show_remove %>
      <td>
        <%= link_to "", property_relationship, method: :delete, 
               data: { confirm: "You sure?" },
               title: property_relationship.property.name, 
                class: "glyphicon glyphicon-trash xs",
                style: "margin-left: 5px; color: #FF4F4D" %>
      </td>
    <% end %>
    <td id=<%= property_relationship.id %> class="edit-epr-trigger">
      <span><i class="glyphicon glyphicon-edit" style="color: #FF740D"></i></span>
    </td>
</tr>
<tr>
  <td colspan="100%" class="hidden-edit-epr-form" style="padding: 0 !important">
    <div id=<%= property_relationship.id %> class="edit-epr-form">
      <%= render partial: 'entities/edit_epr', locals: { relation: property_relationship } %>
    </div>
  </td>
</tr>
