<script type="text/javascript">
  // "<% @saved_value = property_relationship.value.dup %>"
  // window.epr_value = "<% @_ = property_relationship.value %>";
  // var text = "<%= property_relationship.id %>"; 
  // console.log("value for " + text);
  // text = "<%= property_relationship.value %>"; 
  // console.log(text);
  // console.log("ogVal: <%= @_ogVal %>");
</script>
<tr id=<%= "#{property_relationship.id}" %> class="list-item epr" data-position=<%= property_relationship.position+1 %> >
    <td>
      <%= link_to property_relationship.property.name, property_relationship %>
    </td>
    <% if show_units %>
      <td>
        <%= property_relationship.units %>
      </td>
    <% end %>
    <td>
      <%= property_relationship.units_short || "" %>
    </td>
    <% if show_created %>
      <td>
        <%= "#{property_relationship.created_at.strftime('%m/%d/%Y')}" %>
      </td>
    <% end %>
    <td>
        <% @_value_copy = property_relationship.value.dup %>
        <% @_value_copy = parse_value(@_value_copy) || "" %>
        <% if @_value_copy.to_s.length > 10 %>
            <span class="fa fa-ellipsis-h"></span>
        <% else %>
            <%= @_value_copy %>
        <% end %>
    </td>
    <td>
      <%= property_relationship.position+1 %>
    </td>
    <% if current_user.admin? && show_remove %>
      <td>
        <%= link_to "", property_relationship, method: :delete, 
               data: { confirm: "You sure?" },
               title: property_relationship.property.name, 
                class: "glyphicon glyphicon-trash xs",
                style: "margin-left: 5px; color: #FF4F4D" %>
      </td>
    <% end %>
    <td id=<%= property_relationship.id %> class="edit-epr-trigger">
      <span><i class="glyphicon glyphicon-edit" style="color: #FF740D"></i></span>
    </td>
</tr>
<tr>
  <td colspan="100%" class="hidden-edit-epr-form" style="padding: 0 !important">
    <div id=<%= property_relationship.id %> class="edit-epr-form">
      <%= render partial: 'entities/edit_epr', locals: { relation: property_relationship } %>
    </div>
  </td>
</tr>
