<% def expand(property) %>
  <% property.children.each do |child| %>
    <div class="panel panel-default" id="<%= child.id %>">
        <div class="panel-heading">
          <%= link_to child.name, child %>
        </div>
        <% if child.owns_any? %>
            <div class="panel-body">
            <% expand(child) %>
        </div>
        <% end %>
    </div>
  <% end %>  
<% end %>

<div class="panel panel-default" id="<%= relationship.property_id %>">
    <div class="panel-heading">
        <%= link_to relationship.property.name, relationship.property %>
        <% if current_user.admin? %>
          | <%= link_to "remove", relationship, method: :delete,
                                           data: { confirm: "You sure?" },
                                           title: relationship.property.name %>
        <% end %>
    </div>
    <div class="panel-body">
        <% expand(relationship.property) %>
    </div>
</div>