<% unless @entity.label.blank? %>
  <% @label = "#{@entity.label.to_s}" %>
<% else %>
  <% unless @entity.name.blank? %>
    <% @label = "#{@entity.name.to_s.capitalize}" %>
  <% else %>
    <% @label = "Entity id: #{@entity.id.to_s}" %>
  <% end %>
<% end %>

<% provide(:title, "Edit #{@label}") %>
<div>
    <%= link_to "Home", root_path, style: "color: #494A4A" %>
    <span class="glyphicon glyphicon-chevron-right", style="font-size: 12px;"></span>
    <%= link_to "Entities", entities_path, style: "color: #494A4A" %>
    <span class="glyphicon glyphicon-chevron-right", style="font-size: 12px;"></span>
    <%= link_to @label, @entity, style: "color: #494A4A" %>
    <span class="glyphicon glyphicon-chevron-right", style="font-size: 12px;"></span>
    Edit
</div>

<h1>Edit Entity</h1>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <%= bootstrap_form_for(@entity, inline_errors: false) do |f| %>
      <%= render 'entities/fields', f: f %>
      <%= f.submit "Submit Changes", class: "btn btn-large btn-primary btn150"%>
    <% end %>
  </div>
</div>
