<% provide(:title, @entity.name) %>
<div class="row">
    <aside class="col-xs-4">
        <section>
            <h1>
                <%= @entity.name %>
            </h1>
            <small class="note"><%= @entity.label %></small>
            <div style="float: right">
            <%= link_to "Edit", edit_entity_path(@entity), class: "btn btn75 btn-primary btn-sm" %>
            </div>
        </section>
        <section>
        </section>
    </aside>
    <div class="col-xs-8">
        <%= render 'properties' %>
    </div>
</div>
<div class="row">
    <hr/>
    <h4>Add Properties</h4>
    <span class="col-xs-10 col-xs-offset-1">
        <%= render 'add_properties' %>
    </span>
</div>