<% provide(:title, @entity.name) %>
<div class="row">
    <aside class="col-xs-4">
        <small><a style="color: #494A4A" href="<%= entities_path %>">Entities</a></small>
        <section>
            <h1>
                <%= @entity.name %>
            </h1>
            <small class="note"><%= @entity.label %></small>
            <div style="float: right">
            <a href="<%= edit_entity_path(@entity) %>" class="btn btn75 btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Edit attributes &amp; properties">Edit</a>
            </div>
        </section>
    </aside>
    <div class="col-xs-8" id="entity_properties">
        <%= render 'show_properties' %>
    </div>
</div>
