<tr id=<%= "#{group.id}" %> class="list-item group">
    <td>
      <%= link_to group.name, group %>
    </td>
    <td>
      <%= link_to group.default_label, group %>
    </td>
    <% if show_created %>
      <td>
        <%= "#{group.created_at.strftime('%m/%d/%Y')}" %>
      </td>
    <% end %>
    <td>
      <%= "#{group.updated_at.strftime('%m/%d/%Y %H:%M')}" %>
    </td>
      <% if current_user.admin? && show_remove %>
        <td class="delete-group">
          <%= link_to "", group, method: :delete, 
                data: { confirm: "You sure?" },
                title: "delete #{group.name}?", 
                class: "glyphicon glyphicon-trash xs",
                style: "margin-left: 5px; color: #FF4F4D"
          %>
        </td>
      <% end %>
</tr>
