<% if defined? @gprs %>
    <% unless @gprs[:data].blank? %>
        <%= render partial: 'groups/property_relation_actions' %>
        <table class="table table-condensed gprs">
            <th>
                Name
            </th>
            <% if show_units %>
                <th>
                    Units
                </th>
            <% end %>
            <th>
                Short Units
            </th>
            <% if show_created %>
                <th>
                    Created
                </th>
            <% end %>
            <% if show_order %>
                <th>
                    Order
                </th>
            <% end %>
            <% if show_remove %>
                <th>
                    Remove
                </th>
            <% end %>
            <%= render partial: 'groups/property_relationship', collection: @gprs[:data], locals: { show_units: show_units, show_created: show_created, show_remove: show_remove, show_order: show_order }  %>
        </table>
        <%= will_paginate @gprs[:data], inner_window: 0, outer_window: 0, param_name: 'gprs_page', params: { groups_property_event: true } %>
    <% end %>
<% end %>
<% if defined? @eprs %>
    <% unless @eprs[:data].blank? %>
        <%= render partial: 'entities/property_relation_actions' %>
        <table id="accordion" class="table table-condensed entitys_properties">
            <th>
                Name
            </th>
            <% if show_units %>
                <th>
                    Units
                </th>
            <% end %>
            <th>
                Short Units
            </th>
            <% if show_created %>
                <th>
                    Created
                </th>
            <% end %>
            <th>
                Value
            </th>
            <% if show_order %>
                <th>
                    Order
                </th>
            <% end %>
            <% if show_remove %>
                <th>
                    Remove
                </th>
            <% end %>
            <%= render partial: 'entities/property_relationship', collection: @eprs[:data], locals: { show_units: show_units, show_created: show_created, show_remove: show_remove, show_order: show_order }  %>
        </table>
        <%= will_paginate @eprs[:data], inner_window: 0, outer_window: 0, param_name: 'gprs_page', params: { groups_property_event: true } %>
    <% end %>
<% end %>
<% unless defined? @eprs %>
    <% unless defined? @gprs %>
        <div class='alert alert-info small-font center'>
            <i>No groups selected.</i>
        </div>
    <% end %>
<% end %>