<% if defined? @groups_property_relations %>
    <% unless @groups_property_relations[:data].blank? %>
        <%= render partial: 'groups/property_relation_actions' %>
        <table class="table table-condensed groups_properties">
            <th>
                Name
            </th>
            <% if show_units %>
                <th>
                    Units
                </th>
            <% end %>
            <th>
                Short Units
            </th>
            <% if show_created %>
                <th>
                    Created
                </th>
            <% end %>
            <% if @show_order %>
                <th>
                    Order
                </th>
            <% end %>
            <% if show_remove %>
                <th>
                    Remove
                </th>
            <% end %>
            <%= render partial: 'groups/property_relationship', collection: @groups_property_relations[:data], locals: { show_units: show_units, show_created: show_created, show_remove: show_remove, show_order: @show_order }  %>
        </table>
        <%= will_paginate @groups_property_relations[:data], inner_window: 0, outer_window: 0, param_name: 'groups_properties_page', params: { groups_property_event: true } %>
    <% end %>
<% end %>
<% if defined? @entity_property_relations %>
    <% unless @entity_property_relations[:data].blank? %>
        <%= render partial: 'entities/property_relation_actions' %>
        <table class="table table-condensed entitys_properties">
            <th>
                Name
            </th>
            <% if show_units %>
                <th>
                    Units
                </th>
            <% end %>
            <th>
                Short Units
            </th>
            <% if show_created %>
                <th>
                    Created
                </th>
            <% end %>
            <th>
                Value
            </th>
            <% if @show_order %>
                <th>
                    Order
                </th>
            <% end %>
            <% if show_remove %>
                <th>
                    Remove
                </th>
            <% end %>
            <%= render partial: 'entities/property_relationship', collection: @entity_property_relations[:data], locals: { show_units: show_units, show_created: show_created, show_remove: show_remove, show_order: @show_order }  %>
        </table>
        <%= will_paginate @entity_property_relations[:data], inner_window: 0, outer_window: 0, param_name: 'groups_properties_page', params: { groups_property_event: true } %>
    <% end %>
<% end %>
<% unless defined? @entity_property_relations %>
    <% unless defined? @groups_property_relations %>
        <div class='alert alert-info small-font center'>
            <i>No groups selected.</i>
        </div>
    <% end %>
<% end %>