<%= form_tag path, method: 'get', remote: true do %>
    <%= hidden_field_tag :group_direction, params[:group_direction] %>
    <%= hidden_field_tag :group_sort, params[:group_sort] %>
    <%= hidden_field_tag :group_event, true %>
    <div class="input-group" style="margin-bottom: 15px">
        <%= text_field_tag :group_search, params[:group_search], class: "form-control" %>
        <span class="input-group-btn" >
            <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
        </span>
    </div>
<% end %>