<% provide(:title, 'All Groups') %>

<!-- Reload defaults -->
<a style="color: #494A4A" href="<%= groups_path %>">Groups</a>

<h1>All Groups</h1>

<!-- Link to Entity creation form -->
<%= link_to "Create New", new_group_path, class: "btn btn-primary btn-sm", style: "float: right; margin-bottom: 10px"%>
<br/>
<br/>

<!-- Search Form -->
<%= render partial: 'search', locals: { path: groups_path, remote: false } %>

<!-- List -->
<table class="table entities">
    <th>
        <%= sortable "name" %>
    </th>
    <th>
        <%= sortable "default_label", "Label" %>
    </th>
    <th>
        <%= sortable "created_at", "Created" %>
    </th>
    <th>
        <%= sortable "updated_at", "Updated" %>
    </th>
    <th>
        Remove
    </th>
  <%= render partial: 'group', collection: @groups, locals: { created: true } %>
</table>

<%= will_paginate @groups, inner_window: 2, outer_window: 2, param_name: 'groups_page' %>