<% provide(:title, 'New Group') %>

<div style="margin-bottom: 10px;">
    <%= link_to "Home", root_path, style: "color: #494A4A" %>
    <span class="glyphicon glyphicon-chevron-right", style="font-size: 12px;"></span>
    <%= link_to "Groups", groups_path, style: "color: #494A4A" %>
    <span class="glyphicon glyphicon-chevron-right", style="font-size: 12px;"></span>
    New
</div>

<h1>New Group</h1>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <%= bootstrap_form_for(@group, inline_errors: true) do |f| %>
      <input type="hidden" class="form-model group" model="group">
      <%= render 'groups/fields', f: f %>
      <%= f.submit "Create Group", class: "btn btn-large group btn-primary btn150", id: "create-group" %>
    <% end %>
  </div>
</div>