<%= render 'shared/error_messages', object: f.object %>

<!-- <%= f.label :name %> -->
<%= f.text_field :first %>

<%= f.text_field :last %>

<!-- <%= f.label :email %> -->
<%= f.text_field :email %>

<%= f.text_field :login %>

<!-- <%= f.label :password %> -->
<%= f.password_field :password %>

<!-- <%= f.label :password_confirmation, "Confirm Password" %> -->
<%= f.password_field :password_confirmation, label: "Confirmation"  %>

<% if admin_user? %>
    <label class="control-label" for="role_id">Role</label>
    <%= select_tag "set_role_id", options_from_collection_for_select(Role.all, :id, :caps_name, @user['role_id'] ), id: "set_role", class: "form-control select-role col-xs-12"%>
    <div style="padding:15px"></div>
<% end %>

<br>

<%= f.hidden_field :role_id, id: "role_id", value: @user['role_id'] %>
