<tr id=<%= "#{user.id}" %> class="list-item user">
	<td>
  		<%= gravatar_for user, size: 30 %>
	</td>
  <td>
    <%= link_to user.first, user %>
  </td>
  <td>
    <%= link_to user.last, user %>
  </td>
  <td>
    <%= link_to user.email, user %>
  </td>
  <td>
    <%= link_to user.login, user %>
  </td>
  <td>
    <% if user.role.blank? %>
      <span class="badge alert-danger">Not Assigned</span>
    <% else %>
      <%= link_to user.role.caps_name, edit_role_path(user.role) %>
    <% end %>
  </td>
  <% if admin_user? %>
    <td>
      <%= "#{user.created_at.strftime('%m/%d/%Y')}" %>
    </td>
  <% end %>
   <% if admin_user? %>
      <td class="delete-user">
        <span id="<%= user.id %>"  class="glyphicon glyphicon-trash delete alert-danger">
        </span>
      </td>
    <% end %>
</tr>
