<!--%= render 'shared/error_messages', object: f.object %-->

<% _id = @property.id || "new" %>

<%= hidden_field_tag :property_id, @property.id || "new" %>

<span id="<%= _id %>" class="label label-default property name new-property-label">Name</span>
<%= f.text_field :name, id: _id, class: "input-sm property name", hide_label: true %>

<span id='<%= _id %>' class="label label-default property default_label new-property-label">Default Label</span>
<%= f.text_field :default_label, id: _id, class: "property default_label input-sm", hide_label: true %>

<div>
    <%= render partial: 'properties/formula_forms', locals: { property: @property } %>
</div>

<span id='<%= _id %>' class="label label-default property default_value new-property-label"> Default Value</span>
<%= f.text_field :default_value, id: _id, class: "input-sm property default_value", hide_label: true %>

<span id='<%= _id %>' class="label label-default property units new-property-label">Default Units</span>
<%= f.text_field :units, id: _id, class: "property units input-sm", hide_label: true %>

<span id='<%= _id %>' class="label label-default property units_short new-property-label">Default Units Short</span>
<%= f.text_field :units_short, id: _id, class: "property units_short input-sm", hide_label: true %>

<span id='<%= _id %>' class="label label-default property role_ids new-property-label">Default Viewers</span>

<%= select_tag :role_ids, options_from_collection_for_select(Role.where(admin: false), "id", "name", @property.roles.select(:id).where(admin: false).pluck(:id)), id: _id, class: "form-control property role_ids col-xs-12 input-sm", multiple: true %>

