<tr id=<%= "#{property.id}" %> class="list-item property">
    <td>
      <%= link_to property.name, property %>
    </td>
    <% if show_units %>
        <td>
            <%= link_to property.units || "", property %>
        </td>
    <% end %>
    <td>
      <%= link_to property.units_short || "", property %>
    </td>
    <% if show_created %>
      <td>
        <%= "#{property.created_at.strftime('%m/%d/%Y')}" %>
      </td>
    <% end %>
    <td>
      <%= "#{property.updated_at.strftime('%m/%d/%Y %H:%M')}" %>
    </td>
    <% if admin_user? && show_remove %>
      <td class="delete-property">
        <span id="<%= property.id %>"  class="glyphicon glyphicon-trash delete alert-danger">
        </span>
      </td>
    <% end %>
</tr>
