<% unless defined? columns %>
    <% columns = [] %>
<% end %>

<table class="table table-condensed properties">
  <% if columns.include? 'name' %>
    <th>
      <%= sortable('property', "name") %>
    </th>
  <% end %>
  <% if columns.include? 'label' %>
    <th>
      <%= sortable('property', "default_label", "Label") %>
    </th>
  <% end %>
  <% if columns.include? 'units' %>
    <th>
      <%= sortable('property', "units") %>
    </th>
  <% end %>
  <% if columns.include? 'units_short' %>
    <th>
      <%= sortable('property', "units_short", "Short Units") %>
    </th>
  <% end %>
  <% if columns.include? 'created' %>
    <th>
      <%= sortable('property', "created_at", "Created") %>
    </th>
  <% end %>
  <% if columns.include? 'updated' %>
    <th>
      <%= sortable('property', "updated_at", "Updated") %>
    </th>
  <% end %>
  <% if columns.include? 'remove' %>
    <th>
        Remove
    </th>
  <% end %>
  <%= render partial: 'properties/property', collection: @properties, locals: { columns: columns }  %>
</table>
<%= will_paginate @properties, inner_window: 0, outer_window: 0, param_name: 'properties_page', params: { event: 'property' } %>
