<tr id=<%= "#{property.id}" %> class="list-item property">
    <td>
      <%= link_to property.name, property %>
    </td>
    <td>
      <%= link_to property.units_short || "", property %>
    </td>
    <% if show_created %>
      <td>
        <%= "#{property.created_at.strftime('%m/%d/%Y')}" %>
      </td>
    <% end %>
    <td>
      <%= "#{property.updated_at.strftime('%m/%d/%Y %H:%M')}" %>
    </td>
      <% if current_user.admin? && show_remove %>
        <td class="delete-property">
          <%= link_to "", property, method: :delete, 
                data: { confirm: "You sure?" },
                title: "delete #{property.name}?", 
                class: "glyphicon glyphicon-trash xs",
                style: "margin-left: 5px; color: #FF4F4D"
          %>
        </td>
      <% end %>
</tr>
