<% _id = @property.id || "new" %>
<div class="input-group input-group-sm select2-bootstrap-prepend">
  <span class="input-group-btn">
    <button id='<%= _id %>' class="btn btn-default property-ref-entity" type="button" >
      Entity
    </button>
  </span>
  <%= select_tag "entities", options_from_collection_for_select(Entity.all, "id", "name", entity || ""), id: _id, class: "form-control property-ref property-ref-entity col-xs-12", include_blank: true %>
</div>
<div class="input-group input-group-sm select2-bootstrap-prepend">
  <span class="input-group-btn">
    <button id='<%= _id %>' class="btn btn-default property-ref-group" type="button">
      Group
    </button>
  </span>
  <%= select_tag "groups", options_from_collection_for_select(@groups_all || Group.all, "id", "name", group || ""), id: _id, class: "form-control property-ref property-ref-group col-xs-12", include_blank: true %>
</div>
<div class="input-group input-group-sm select2-bootstrap-prepend">
  <span class="input-group-btn">
    <button id='<%= _id %>' class="btn btn-default property-ref-property" type="button">
      Property
    </button>
  </span>
  <%= select_tag "properties", options_from_collection_for_select(@properties_all || Property.all.reject {|p| p.id == _id }, "id", "name"), id: _id, class: "form-control property-ref property-ref-property col-xs-12", include_blank: true %>
</div>
<button id='<%= _id %>' type="button" class="btn btn-success btn-sm property ref-append disabled"><span class="glyphicon glyphicon-plus"></span></button>