<% unless columns.blank? %>
    <table class="table table-condensed eprs">
        <% if columns.include? 'entity' %>
            <th>
                Entity
            </th>
        <% end %>
        <% if columns.include? 'group' %>
            <th>
                Group
            </th>
        <% end %>
        <% if columns.include? 'property' %>
            <th>
                Property
            </th>
        <% end %>
        <% if columns.include? 'label' %>
            <th>
                <%= sortable("epr", "label", "Property Label") %>
            </th>
        <% end %>
        <% if columns.include? 'value' %>
            <th>
                Value
            </th>
        <% end %>
        <% if columns.include? 'units' %>
            <th>
                <%= sortable("epr", "units") %>
            </th>
        <% end %>
        <% if columns.include? 'units_short' %>
            <th>
                <%= sortable("epr", "units_short") %>
            </th>
        <% end %>
        <% if columns.include? 'updated' %>
            <th>
                <%= sortable("epr", "updated_at", "Updated") %>
            </th>
        <% end %>
        <% if columns.include? 'remove' %>
            <th>
                Remove
            </th>
        <% end %>
      <%= render partial: 'entity_property_relationships/epr', collection: @eprs, locals: { columns: columns }  %>
    </table>
    <%= will_paginate @eprs, inner_window: 0, outer_window: 0, param_name: 'epr_page', params: { event: 'epr' } %>
<% end %>