<% if signed_in? %>
    <% provide(:title, "Spex Query") %>
    <script type="text/javascript">
        $("body").addClass('<%= "epr_query" %>');
    </script>
    <!-- Reload defaults -->
    <div style="margin-bottom: 10px">
        <%= link_to "Home", root_path, style: "color: #494A4A" %>
    </div>
    <h1>Spex Query</h1>
        <input type="hidden" id="epr-r" value=<%= @role['id'] %>>
        <% if current_user.role.change_view? %>
            <div class="row">
                <div class="col-xs-4">
                    <label for="role_ids" class="control-label">View As</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4" id="role-select">
                    <% if admin_user? %>
                      <%= select_tag "role_ids", options_from_collection_for_select(Role.all, "id", "name", @role['id'] || current_user.role_id), id: "select-role", data: {}, class: "form-control roles col-xs-12"%>
                    <% else %>
                      <%= select_tag "role_ids", options_from_collection_for_select(Role.where(admin: false), "id", "name", @role['id'] || current_user.role_id), id: "select-role", data: {}, class: "form-control roles col-xs-12"%>
                    <% end %>
                    <div style="padding-bottom: 50px;"></div>
                </div>
                <div class="col-xs-2 col-xs-offset-6">
                    <% if admin_user? %>
                        <%= link_to "Create New", hub_path, class: "btn btn-primary btn-sm", style: "float: right; margin-bottom: 10px"%>
                    <% end %>
                </div>
            </div>
        <% end %>
    <!-- Search Form -->
    <div id="epr_index">
        <%= render partial: 'index' %>
    </div>
<% else %>
    <% provide(:title, "Welcome") %>
    <div class="center jumbotron">
      <h1>Welcome to GZ Spex</h1>

      <h2>
        Here, you'll be able to find the technical specifactions for Goal Zero Products.
        <a href="http://www.goalzero.com">Goal Zero</a>
      </h2>
        <small>It's easy! Just sign up, and you'll be able to query tech spex and view Product Spec Reports.</small>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
    </div>

    <%= link_to image_tag("avatar.png", alt: "Alex Stout", id: "img_avatar"), 'http://alexstout.weebly.com/' %>
<% end %>