<div class="modal fade" id="default-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-modal" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Change Default Role 
        <% unless @role['name'].blank? %>
          <span class="badge alert-info"><%= "to #{@role.caps_name}" %></span>
        <% end %>
        </h4>
      </div>
      <div class="modal-body">
        <p>The current default role is <span class="badge alert-info"><%= @default.blank? ? "not set" : @default['name'].capitalize %></span></p>
        <p>There are currently <span class="badge alert-info"><%= @default.blank? ? 0 : User.where(role_id: @default['id']).count %></span> users assigned to this role. </p>
        <p><i>Only one role can be the default.</i></p>
        <p>Which actions would you like to take? Or click cancel to make no changes to the default role.</p>
        <p><b>Don't Change</b> the roles for any users that are assigned to <span class="badge alert-info"><%= @default.blank? ? "not set" : @default['name'].capitalize %></span>.</p>
        <p><b>Change</b> the roles for <b>all</b> users that are assigned to <span class="badge alert-info"><%= @default.blank? ? "not set" : @default['name'].capitalize %></span>.</p>
        <br>
        <div class="center">
            <div id="def-change" class="btn-group" style="margin-top: 15px;">
                <button type="button" id="false" class="btn btn-default btn-success btn-sm selected def-change">Don't Change</button>
                <button type="button" id="true" class="btn btn-default btn-sm def-change">Change All</button>
            </div>
        </div>
        <br>
        <div class="center">The roles for the <span class="badge alert-info"><%= @default.blank? ? 0 : User.where(role_id: @default['id']).count %></span> users assigned to <span class="badge alert-info"><%= @default.blank? ? "not set" : @default['name'].capitalize %></span> <b><span id="final-message" class="badge alert-success">WILL NOT BE</span></b> changed to <span class="badge alert-info"><%= @role.caps_name %></span>.</div>
        <br>
        <p class="center">Your choice will take effect when the Role edit form is submitted.</p>
      </div>
      <div class="modal-footer">
        <button id="close-modal" type="button" class="btn btn-default close-modal" data-value="1" data-dismiss="modal">Close</button>
        <button id="save-modal" type="button" class="btn btn-primary close-modal save" data-value="0" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>