<%= form_tag path, method: 'get', remote: remote do %>
    <%= hidden_field_tag :role_direction, params[:role_direction] %>
    <%= hidden_field_tag :role_sort, params[:role_sort] %>
    <%= hidden_field_tag :event, 'role' %>
    <div class="input-group" style="margin-bottom: 15px">
        <%= text_field_tag :role_search, params[:role_search], class: "form-control" %>
        <span class="input-group-btn" >
            <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
        </span>
    </div>
<% end %>