<%= form_tag path, method: 'get', url: { controller: "hub", action: "main" }, remote: true do %>
    <%= hidden_field_tag :entity_direction, params[:entity_direction] %>
    <%= hidden_field_tag :entity_sort, params[:entity_sort] %>
    <%= hidden_field_tag :entity_event, true %>
    <%= hidden_field_tag :search, "entity" %>
    <div class="input-group input-group-sm" style="margin-bottom: 15px">
        <%= text_field_tag :entity_search, params[:entity_search], class: "form-control", id: "entity_search_field" %>
        <span class="input-group-btn" >
            <%= submit_tag "Search", name: nil, class: "btn btn-default", id: "search_entity" %>
        </span>
    </div>
<% end %>