$("#debug").html('<%= params %>');
$('#gprs').html("  <%= j render partial: 'groups/properties', locals: { show_units: false, show_created: false, show_remove: false, show_position: true } %>");

clearSelectedProperties();

alert_html = "" 
<% unless @added_properties.blank? %>
    alert_html += "<div class='alert notice alert-success small-font'>";
    alert_html += "<p><strong>Properties Added to '<%= @selected_groups.first.name %>':</strong></p>";
    <% @added_properties.each do |result| %>
        <% unless result[:property].nil? %>
            alert_html += "<p style='padding-left: 10px'>- <%=result[:property].name %> </p>"; 
            group_id = "<%= result[:property].id %>";
        <% end %>
    <% end %>
<% else %>
    alert_html += "<div class='alert notice alert-danger small-font'>";
    alert_html += "<p><strong>Nothing Added:</strong></p>";
    alert_html += "<p style='padding-left: 10px'><i>The server returned no results.</i></p>";
<% end %>
alert_html += "</div>"

$('#properties').html("<%= j render partial: 'properties/properties', locals: { show_units: false, show_created: false, show_remove: false } %>");

hubAlert("#groups-properties-alert", alert_html);
persistStyling();
window.selected_gpr_max_position = <%= @selected_groups.first.properties.count %>
validateGroupsPropertySelection();