$("#debug").html('<%= params %>');
var alert_html = "";

alert_html = "" 
<% unless @deleted_egrs.nil? %>
    alert_html += "<div class='alert alert-success small-font'>";
    alert_html += "<p><strong>Groups Removed from '<%= @selected_entity.name %>':</strong></p>";
    <% @deleted_egrs.each do |deleted_egr| %>
        <% unless deleted_egr[:data].nil? %>
            alert_html += "<p style='padding-left: 10px'>- <%=deleted_egr[:data].group.name %> </p>";
            toggleEGRselect(<%= deleted_egr[:data].id %>, <%= deleted_egr[:data].position %> + 1, false); 
        <% end %>
    <% end %>
<% else %>
    alert_html += "<div class='alert alert-danger small-font'>";
    alert_html += "<p><strong>Nothing Deleted:</strong></p>";
    alert_html += "<p style='padding-left: 10px'><i>The server returned no results.</i></p>";
<% end %>
alert_html += "</div>"

hubAlert("#entitys-groups-alert", alert_html);

$('#egrs').html("  <%= j render partial: 'entities/groups', locals: { show_created: false, show_remove: false } %>");

$('#groups').html("<%= j render partial: 'groups/groups', locals: { show_created: false, show_remove: false } %>");

persistStyling();

window.selected_egr_max_position = <%= @selected_entity.groups.count %>;

validateEGRselection();