$("#debug").html('<%= params %>');
$('#entities').html("<%= j render partial: 'entities/entities', locals: { show_created: false, show_remove: false } %>");

var alert_html = "";

<% unless @entity.nil? %>
    <% if @entity[:status] == 1 %>
        alert_html += "    <div class='alert alert-success small-font center'>";
        alert_html += "    <%= @entity[:msg] %>";
        alert_html += "    </div>";
        clearSelectedEntity();
    <% else %>
        alert_html += "    <div class='alert alert-danger small-font center'>";
        alert_html += "        <%= @entity[:msg] %>";
        alert_html += "    </div>";
    <% end %>
<% else %>
    alert_html += "    <div class='alert alert-danger small-font center'>";
    alert_html += "        There was an error deleting " + <%= @entity[:data].name %> ;
    alert_html += "    </div>";
<% end %>

hubAlert("#entity-alert", alert_html);
persistStyling();