var alert_html = "";

alert_html = "" 
<% unless @deleted_entity_group_relations.nil? %>
    alert_html += "<div class='alert alert-success small-font'>";
    alert_html += "<p><strong>Groups Removed from '<%= @selected_entity.name %>':</strong></p>";
    <% @deleted_entity_group_relations.each do |deleted_entity_group_relation| %>
        <% unless deleted_entity_group_relation[:data].nil? %>
            alert_html += "<p style='padding-left: 10px'>- <%=deleted_entity_group_relation[:data].group.name %> </p>";
            toggleEntitysGroupSelect(<%= deleted_entity_group_relation[:data].id %>, <%= deleted_entity_group_relation[:data].order %> + 1); 
        <% end %>
    <% end %>
<% else %>
    alert_html += "<div class='alert alert-danger small-font'>";
    alert_html += "<p><strong>Nothing Deleted:</strong></p>";
    alert_html += "<p style='padding-left: 10px'><i>The server returned no results.</i></p>";
<% end %>
alert_html += "</div>"

hubAlert("#entitys-groups-alert", alert_html);

$('#entitys_groups').html("  <%= j render partial: 'entities/groups', locals: { show_created: false, show_remove: false } %>");

$('#groups').html("<%= j render partial: 'groups/groups', locals: { show_created: false, show_remove: false } %>");

persistStyling();

window.selected_entitys_max_group_order = <%= @selected_entity.groups.count %>;

validateEntitysGroupSelection();