var alert_html = "";

alert_html = "";

<% unless @result.nil? %>
    <% if @result[:r] == 0 %>
        alert_html += "    <div class='alert alert-danger small-font center'>";
        alert_html += "        <p><%= @result[:msg] %></p>";
        alert_html += "    </div>";
    <% elsif @result[:r] == 2 %>
        alert_html += "    <div class='alert alert-info small-font center'>";
        alert_html += "        <i><%= @result[:msg] %></i>";
        alert_html += "    </div>";
    <% end %>
<% else %>
    alert_html += "    <div class='alert alert-danger small-font center'>";
    alert_html += "        <p>There was an error retrieving #{@selected_entity.name}'s groups</p>";
    alert_html += "    </div>";
<% end %>

if( selected_entity > -1 )
{
    hubAlert("#entitys-groups-alert", alert_html);
}


$('#groups').html("<%= j render partial: 'groups/groups', locals: { show_created: false, show_remove: false } %>");

if(selected_groups.length > 0 && selected_entity > -1)
{
    <% unless @selected_entity.nil? %>
        <% @selected_entity.groups.each do |group| %>
            var index = $.inArray( <%= group.id %> + "" , selected_groups ) 
            if ( index > -1 )
            {
                console.log ("deselecting: <%= group.id %>")
                toggleGroupSelect(<%= group.id %> + "");
            }
        <% end %>
    <% end %>
}

persistStyling();

<% if @selected_entity.nil? %>
    window.selected_entitys_max_group_order = -1;
<% else %>
    window.selected_entitys_max_group_order = <%= @selected_entity.groups.count %>;
<% end %>

$('#entitys_groups').html("  <%= j render partial: 'entities/groups', locals: { show_created: false, show_remove: false } %>");