$("#debug").html('<%= params %>');
var alert_html = "";

<% if @selected_groups.blank? %>
    window.selected_gpr_max_position = -1;
<% else %>
    hubAlert("#groups-properties-alert", "");
    window.selected_gpr_max_position = <%= @selected_groups.first.properties.count %>;
    <% if @gprs.blank? %>
        alert_html += "<div class='alert alert-info small-font'>";
        alert_html += "<p><strong>No properties for <%= @selected_groups.first.name %>.</strong></p>";
        alert_html += "<p style='padding-left: 10px'><i>Try adding properties to the group.</i></p>";
    <% elsif @gprs[:data].blank? %>
        alert_html += "<div class='alert alert-info small-font'>";
        alert_html += "<p><strong>No properties for <%= @selected_groups.first.name %>.</strong></p>";
        alert_html += "<p style='padding-left: 10px'><i>Try adding properties to the group.</i></p>";
    <% end %>
    alert_html += "</div>";
    hubAlert("#groups-properties-alert", alert_html);
    alert_html = "";
<% end %>

<% if @selected_egrs.blank? %>
    window.selected_epr_max_position = -1;
<% else %>
    window.selected_epr_max_position = <%= @selected_egrs.first.group.properties.count %>;
    if(!window.epr_update)
    {
        hubAlert("#groups-properties-alert", "");
    }
    <% if @eprs.blank? %>
        alert_html += "<div class='alert alert-info small-font'>";
        alert_html += "<p><strong>No properties for <%= @selected_egrs.first.group.name %>.</strong></p>";
        alert_html += "<p style='padding-left: 10px'><i>Try adding properties to the group.</i></p>";
    <% elsif @eprs[:data].blank? %>
        alert_html += "<div class='alert alert-info small-font'>";
        alert_html += "<p><strong>No properties for <%= @selected_egrs.first.group.name %>.</strong></p>";
        alert_html += "<p style='padding-left: 10px'><i>Try adding properties to the group.</i></p>";
    <% else %>
    <% end %>
    alert_html += "</div>";
    if(!window.epr_update)
    {
        hubAlert("#groups-properties-alert", alert_html);
    }
    alert_html = "";
    window.epr_update = false;
<% end %>
<% if @selected_egrs.blank? && @selected_groups.blank? %>
    alert_html = "<div class='alert alert-info small-font center'>";
    alert_html += "<i>No Group selected.</i></div>";
    hubAlert("#groups-properties-alert", alert_html);
    alert_html = "";
<% end %>

$('#properties').html("<%= j render partial: 'properties/properties', locals: { show_units: false, show_created: false, show_remove: false } %>");

$('#gprs').html("<%= j render partial: 'groups/properties', locals: { show_units: false, show_created: false, show_remove: false, show_position: true } %>");

eprPagination();
persistStyling();
$(".edit-epr-form").hide();
// $("ul.nav-tabs").tab();
selectize_all();
window.toolize();

