$('#groups_properties').html("  <%= j render partial: 'groups/properties', locals: { show_units: false, show_created: false, show_remove: false } %>");

clearSelectedProperties();

alert_html = "" 
<% unless @results.nil? || @results.empty? %>
    alert_html += "<div class='alert alert-success small-font'>";
    alert_html += "<p><strong>Properties Added to '<%= @selected_groups.first.name %>':</strong></p>";
    <% @results.each do |result| %>
        <% unless result[:property].nil? %>
            alert_html += "<p style='padding-left: 10px'>- <%=result[:property].name %> </p>"; 
            group_id = "<%= result[:property].id %>";
        <% end %>
    <% end %>
<% else %>
    alert_html += "<div class='alert alert-danger small-font'>";
    alert_html += "<p><strong>Nothing Deleted:</strong></p>";
    alert_html += "<p style='padding-left: 10px'><i>The server returned no results.</i></p>";
<% end %>
alert_html += "</div>"

$('#properties').html("<%= j render partial: 'properties/properties', locals: { show_units: false, show_created: false, show_remove: false } %>");

hubAlert("#groups-properties-alert", alert_html);
persistStyling();
window.selected_groups_max_property_order = <%= @selected_groups.first.properties.count %>
validateGroupsPropertySelection();