<%= javascript_tag do %>
    $('body').addClass('hub');
<% end %>
<div style="margin-bottom: 10px">
    <%= link_to "Home", root_path, style: "color: #494A4A" %>
    <span class="glyphicon glyphicon-chevron-right", style="font-size: 12px;"></span>
    <%= link_to "Hub", hub_path, style: "color: #494A4A" %>
    <br>
</div>

<div id="hub-alert"></div>
<div class="row">
    <aside class="col-xs-4 v-divider">
        <a style="color: #494A4A" href="<%= entities_path %>">Entities</a>
        <row>
            <div id="entity-alert1"></div>
            <%= render 'new_entity' %>
        </row>
        <row>
            <h6>
                Existing Entities
            </h6>
            <div id="entity-alert2"></div>
            <%= render partial: 'entities/search', locals: { path: hub_path, remote: true } %>
            <div id="clear-selected-entity" class="btn btn-default btn-sm disabled">Clear</div>
            <div id="delete-selected-entity" class="btn btn-danger btn-sm disabled">Delete</div>
            <div style="padding-top: 10px"></div>
            <div id="entities">
                <%= render partial: 'entities/entities', locals: { show_created: false, show_remove: false } %>
            </div>
            <div id='ajax-test'></div>
        </row>
    </aside>
    <aside class="col-xs-4 v-divider">
        <a style="color: #494A4A" href="<%= groups_path %>">Groups</a>
        <row>
            <div id="group-alert1"></div>
            <%= render 'new_group' %>
        </row>
        <row>
            <h6>
                Selected Entity's Groups
            </h6>
            <div id="entitys-groups-alert"></div>
            <div id="egrs"> 
                <%= render partial: 'entities/groups', locals: { show_created: false, show_remove: false } %>
            </div>
        </row>
        <row>
            <h6>
                Existing Groups
            </h6>
            <div id="group-alert2"></div>
            <%= render partial: 'search_group', locals: { path: hub_path, remote: true } %>
            <div id="clear-selected-groups" class="btn btn-default btn-sm disabled">Clear</div>
            <div id="delete-selected-groups" class="btn btn-danger btn-sm disabled">Delete</div>
            <div id="add-selected-groups" class="disabled">Add To Entity</div>
            <div style="padding-top: 10px"></div>
            <div id="groups">
                <%= render partial: 'groups/groups', locals: { show_created: false, show_remove: false } %>
            </div>
        </row>
    </aside>
    <aside class="col-xs-4 v-divider">
        <a style="color: #494A4A" href="<%= properties_path %>">Properties</a>
        <row>
            <div id="property-alert1"></div>
            <%= render 'new_property' %>
        </row>
        <row>
            <h6>
                Selected Group's Properties
            </h6>
            <div id="groups-properties-alert"></div>
            <div style="padding-top: 10px"></div>
            <div id="gprs"> 
                <%= render partial: 'groups/properties', locals: { show_units: false, show_created: false, show_position: true, show_remove: false } %>
            </div>
        </row>
        <row>
            <h6>
                Existing Properties
            </h6>
            <div id="property-alert2"></div>
            <%= render partial: 'search_property', locals: { path: hub_path } %>
            <div id="clear-selected-properties" class="btn btn-default btn-sm disabled">Clear</div>
            <div id="delete-selected-properties" class="btn btn-danger btn-sm disabled">Delete</div>
            <div id="add-selected-properties" class="disabled">Add To Group</div>
            <div style="padding-top: 10px"></div>
            <div id="properties">
                <%= render partial: 'properties/properties', locals: { show_units: false, show_created: false, show_remove: false } %>
            </div>
        </row>
    </aside>
</div>
<br/>