<div id="hub-alert"></div>
<i id="clear-alerts" class="fa fa-ban fa-lg"></i>
<div class="row">
    <aside class="col-xs-4 v-divider">
        <a style="color: #494A4A" href="<%= entities_path %>">Entities</a>
        <section>
            <%= render 'new_entity' %>
        </section>
        <section>
            <h6>
                Existing Entities
            </h6>
            <div id="entity-alert"></div>
            <%= render partial: 'search_entity', locals: { path: hub_path } %>
            <div id="clear-selected-entity" class="btn btn-default btn-sm disabled">Clear</div>
            <div id="delete-selected-entity" class="btn btn-danger btn-sm disabled">Delete</div>
            <div style="padding-top: 10px"></div>
            <div id="entities">
                <%= render partial: 'entities/entities', locals: { show_created: false, show_remove: false } %>
            </div>
            <div id='ajax-test'></div>
        </section>
    </aside>
    <aside class="col-xs-4 v-divider">
        <a style="color: #494A4A" href="<%= groups_path %>">Groups</a>
        <section>
            <%= render 'new_group' %>
        </section>
        <section>
            <h6>
                Selected Entity's Groups
            </h6>
            <div id="entitys-groups-alert"></div>
            <div id="entitys_groups"> 
                <%= render partial: 'entities/groups', locals: { show_created: false, show_remove: false } %>
            </div>
        </section>
        <section>
            <h6>
                Existing Groups
            </h6>
            <div id="group-alert"></div>
            <%= render partial: 'search_group', locals: { path: hub_path } %>
            <div id="clear-selected-groups" class="btn btn-default btn-sm disabled">Clear</div>
            <div id="delete-selected-groups" class="btn btn-danger btn-sm disabled">Delete</div>
            <div id="add-selected-groups" class="disabled">Add To Entity</div>
            <div style="padding-top: 10px"></div>
            <div id="groups">
                <%= render partial: 'groups/groups', locals: { show_created: false, show_remove: false } %>
            </div>
            <div id='ajax-test'></div>
        </section>
    </aside>
    <aside class="col-xs-4 v-divider">
        <a style="color: #494A4A" href="<%= properties_path %>">Properties</a>
        <section>
            <%= render 'new_property' %>
        </section>
        <section>
            <h6>
                Selected Group's Properties
            </h6>
            <div id="groups-properties-alert"></div>
            <div style="padding-top: 10px"></div>
            <div id="groups_properties"> 
                <%= render partial: 'groups/properties', locals: { show_units: false, show_created: false, show_remove: false } %>
            </div>
        </section>
        <section>
            <h6>
                Existing Properties
            </h6>
            <div id="property-alert"></div>
            <%= render partial: 'search_property', locals: { path: hub_path } %>
            <div id="clear-selected-properties" class="btn btn-default btn-sm disabled">Clear</div>
            <div id="delete-selected-properties" class="btn btn-danger btn-sm disabled">Delete</div>
            <div id="add-selected-properties" class="disabled">Add To Group</div>
            <div style="padding-top: 10px"></div>
            <div id="properties">
                <%= render partial: 'properties/properties', locals: { show_units: false, show_created: false, show_remove: false } %>
            </div>
            <div id='ajax-test'></div>
        </section>
    </aside>
</div>
