$("#debug").html('<%= params %>');
var alert_html = "";

<% unless @moved_gprs.nil? %>
    alert_html += "<div class='alert alert-success small-font'>";
    alert_html += "<p><strong>Groups Reordered for '<%= @selected_groups.first.name %>':</strong></p>";
    <% @moved_gprs.reverse.each do |result| %>
        <% unless result[:data].nil? %>
            <% unless result[:msg] == "not moved" %>
                alert_html += "<p style='padding-left: 10px'>- <%= result[:idx] %>.  <%= result[:data].property.name %> </p>";
            <% end %>
            console.log("toggle select::  id: " + <%= result[:data].id %> + " order: " + <%= result[:data].order %> );
            clearSelectedGPRs();
        <% end %>
    <% end %>
<% else %>
    alert_html += "<div class='alert alert-danger small-font'>";
    alert_html += "<p><strong>Groups not reordered.</strong></p>";
    alert_html += "<p style='padding-left: 10px'><i>The server returned no results.</i></p>";
<% end %>
alert_html += "</div>"

hubAlert("#groups-properties-alert", alert_html);

$('#gprs').html("  <%= j render partial: 'groups/properties', locals: { show_units: false, show_created: false, show_remove: false, show_order: true } %>");

persistStyling();

validateGroupsPropertySelection();