$("#debug").html('<%= params %>');
var alert_html = "";

<% unless @moved_egrs.nil? %>
    alert_html += "<div class='alert alert-success small-font'>";
    alert_html += "<p><strong>Groups Reordered for '<%= @selected_entity.name %>':</strong></p>";
    <% @moved_egrs.reverse.each do |result| %>
        <% unless result[:data].nil? %>
            <% unless result[:msg] == "not moved" %>
                alert_html += "<p style='padding-left: 10px'>- <%= result[:idx] %>.  <%= result[:data].group.name %> </p>";
            <% end %>
            clearSelectedEGRs();
        <% end %>
    <% end %>
<% else %>
    alert_html += "<div class='alert alert-danger small-font'>";
    alert_html += "<p><strong>Groups not reordered.</strong></p>";
    alert_html += "<p style='padding-left: 10px'><i>The server returned no results.</i></p>";
<% end %>
alert_html += "</div>"

hubAlert("#entitys-groups-alert", alert_html);

$('#egrs').html("  <%= j render partial: 'entities/groups', locals: { show_created: false, show_remove: false } %>");

persistStyling();

validateEGRselection();