<% provide(:title, "All #{model.capitalize.pluralize}") %>
<div id="notice"></div>
<script type="text/javascript">
    $("body").addClass('<%= "#{model} index" %>');
</script>
<!-- Reload defaults -->
<div style="margin-bottom: 10px">
    <%= link_to "Home", root_path, style: "color: #494A4A" %>
    <span class="glyphicon glyphicon-chevron-right", style="font-size: 12px;"></span>
    <%= link_to "#{model.capitalize.pluralize}", send("#{model.pluralize}_path"), style: "color: #494A4A"%>
</div>
<% if alt_title.blank? %>
    <h1><%= "All #{model.capitalize.pluralize}" %></h1>
<% else %>
    <h1><%= "#{alt_title}" %></h1>
<% end %>

<!-- Link to Entity creation form -->
<% if show_new %>
  <%= link_to "Create New", send("new_#{model}_path"), class: "btn btn-primary btn-sm", style: "float: right; margin-bottom: 10px"%>
<% end %>
<br/>
<br/>

<!-- Search Form -->
<div id='<%="#{model}"%>' class="actions">
<%= render partial: 'search', locals: { path: send("#{model.pluralize}_path"), remote: true } %>
<%= render partial: 'actions' %>
</div>

<!-- List -->
<div class='<%= "#{model.pluralize} list" %>'>
    <%= render partial: "#{model.pluralize}/#{model.pluralize}", locals: locale %>
</div>

<div id="delete-modal">
</div>