<!DOCTYPE html>
<html>
    <head>
      <title><%= full_title(yield(:title)) %></title>
      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= favicon_link_tag 'favicon.ico' %>
      <%= csrf_meta_tags %>
      <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div id="content" class="outer container">
      <div id="content" class="inner">
        <div class="inner-padding15">
            <% flash.each do |key, value| %>
                <div id="flash">
                  <div class="alert notice alert-<%= key %>"><%= value %></div>
                </div>
            <% end %>
            <%= yield %>
            <%= render 'layouts/footer' %>
            <%= debug(params) if Rails.env.development? %>
        </div>
      </div>
    </div>
  </body>
</html>